{% extends "base.html" %}

{% block content %}
<div class="add-anime-form">
    <h1>Add New {{ section }}</h1>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            color: #333;
        }

        /* Video Background */
        .video-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            z-index: -1;
        }
    </style>


    <!-- Background video -->
    <video class="video-background" autoplay loop muted>
        <source src="{{ url_for('static', filename='images/stars.mp4') }}" type="video/mp4">
    </video>

    <!-- FORM -->
    <form method="POST">

        <label>{{ section }} Title</label>
        <input type="text" name="title" required>

        <label>Status</label>
        <select name="status">
            <option value="Ongoing">Ongoing</option>
            <option value="Completed">Completed</option>
            <option value="Hiatus">Hiatus</option>
        </select>

        <label>Link</label>
        <input type="url" name="link" required>

        <button type="submit">Add {{ section }}</button>
    </form>
</div>
{% endblock %}
